
.navbar-laras{
  background: #fff;
}
.navbar-laras a{
  color: #000;
}
/*  */
#header-laras{
	height: 100vh;
  min-height: 500px;
  background: url(http://localhost/FP_Web/assets/images/1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#header-laras .width-laras {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.width-laras{
	padding: 0 40px;
}
.header-title {
  color: #fff;
}
#header-laras .header-title h1 {
  font-size: 30px;
  
}
#header-laras .header-title h1::after{
  content: "Pagar & Tralis";
  animation: textanim 10s linear infinite;
}
@keyframes textanim{
  20%{
    content: "Atap Besi";
  }
  40%{
    content: "Tralis & Canopy";
  }
  60%{
    content: "Pintu Besi";
  }
  80%{
    content: "Kusen Alumunium";
  }
}
/*  */
.title-laras{
  background-color: #FD5D14;
  color: #000;
  padding: 50px 0;
}
/*  */
.hubungi{
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 50px;
  margin-top: -25px;
  margin-bottom: -25px;
  padding: 10px 0;
}
/*  */
.profil{
  padding: 50px;
}
.logo-profil{
  background: url(http://localhost/FP_Web/assets/images/logo.svg) no-repeat center;
  height: 330px; 
}
.deskripsi{
  text-align: justify;
}
/*  */
.benefit{
  height: 300px;
  background: url(http://localhost/FP_Web/assets/images/1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed; 
  padding: 50px;
  color: #fff;
}
.item-benefit{
  font-size: 130px;
  width: 130px;
  height: 130px;
}
/*  */
.galeri{
  width: calc(33% - 10px);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: 10px 0; 
}
.galeri img{
  width: 100%;
  height: 100%;
  transition: .4s linear;
}
.galeri::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #48dbfbcc;
  transition: .2s linear;
  opacity: 0;
  transform: scale(0);
  margin-left: -12px;
}
.galeri .galeri-info{
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  color: #fff;
  transition: .4s linear;
  opacity: 0;
}
.galeri:hover img{
  transform: scale(1.6) rotate(25deg);
}
.galeri:hover::before,
.galeri:hover .galeri-info
{
  opacity: 1;
  transform: scale(1);
}
/*  */
.footer-widget{
  background: #1E1E1E;
  color: #FFF;
}
.bg-oren{
  background-color: #FD5D14 !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.title-widget{
  color: #FD5D14;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer{
  background: #111111;
  color: #747474;
  padding: 30px;
}
.copyright-laras a{
  color: #747474;
  text-decoration: none;
}

.vertical-divider{
  border-left: 2px solid grey;
  height: 80%;
  border-right: 2px solid grey;
}
.opa{
  color: rgba(56, 56, 56, 0.808);
}